.item-list-container{
  width: 90%;
  height: auto;
  margin: 1rem auto;
}

.title{
  text-align: center;
  margin-bottom: 2rem;
}

.item-list{
  text-align: center;
  list-style: none;
  font-size: 2rem;
}