.item-count{
  display: grid;
  width: 100%;
  height: 15rem;
  grid-template-columns: repeat(2,1fr);
  padding: .5rem;
  text-align: center;
  border-radius: 10px;
  grid-template-areas: 
  "text-stock text-count"
  "btn-sub btn-add"
  "btn-cart btn-cart";
}

.item-count-text{
  font-size: 1.3rem;
  margin: .3rem;
  font-weight: bold;
}

.item-count-text-stock{
  grid-area: text-stock;
}

.item-count-text-count{
  grid-area: text-count;
}

.item-count-btn{
  width: 8rem;
  height: 4rem;
  border-radius: 10px;
  color: black;
  font-size: 2rem;
  margin: 0 auto;
}

.item-count-btn:hover{
  transform: translateY(-2px);
  box-shadow: 2px 2px 2px black;
}

.item-count-btn:active{
  transform: translateY(0);
  box-shadow: none;
}

.btn-sub{
  background-color: red;
  grid-area: btn-sub;
}

.btn-add{
  background-color: green;
  grid-area: btn-add;
}

.btn-cart{
  grid-area: btn-cart;
  width: 16.5rem;
}